
.botao-sair {
   -fx-background-image: url("br.edu.ifro.images/iconcancelar.png");
}

.btnlimpar {
      -fx-background-image: url("br.edu.ifro.images/iconlimpar.png"); 
}


.btnsalvar {
     -fx-background-image: url("br.edu.ifro.images/iconsalvar.png"); 
}
